<div class="container mt-4">

  <% if user_signed_in? %>
  <%# <% if policy(Bicho).new? %>
    <div class="text-right">
      <%= link_to "Cadastrar novo bicho", new_bicho_path, class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="mb-5">
    <h2 class="text-center m-0">Para Adoção</h2>
    <p class="text-center m-0 pl-3">Total: <%= @bichos.count - Adocao.count %></p>
  </div>

  <div class="row">
    <% @bichos.each do |bicho| %>
      <% unless bicho.adocao.present? %>
        <div class="col-12 col-sm-6 col-lg-3 mb-4 d-flex align-items-stretch justify-content-center">
            <%= render "shared/card", bicho: bicho %>
        </div>
      <% end %>
    <% end %>
  </div>

  <hr>
  <a href="#">Voltar ao topo</a>
  <br>
  <br>

</div>
