<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://source.unsplash.com/iZyZyrerMrE;">
  <div class="container-all">
    <div class="container">
      <div id="logo" class="d-flex position-relative mb-4"> <i class="fas fa-paw"></i>
        <div id="logo-cap" class="m-0 position-absolute"><i class="fas fa-graduation-cap"></i></div>
      </div>

      <div>
        <h1>Bicho Universitário</h1>
        <p class="pb-2">Ajude a encontrar um lar para os bichinhos abandonados na sua Universidade, tornando-se um guardião ou adotante</p>
        <% if !user_signed_in? %>
          <%= link_to "Cadastrar-se", new_user_registration_path, class:"btn btn-success" %>
        <% end %>
      </div>
    </div>

    <%= link_to bichos_path, class:"link-bicho" do %>
      <div id="container-ver-bichos" class="mx-auto">
        <div id="link-ver-bichos" class="d-flex align-items-center justify-content-center mx-auto">
          <div id="cat"><i class="fas fa-cat"></i></div>
          <p id="p-ver-bichos" class="m-0 pl-2">Dar uma olhada</p>
        </div>
        <div id="cat-eyes"></div>
      </div>
    <% end %>
  </div>
</div>
