<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Bicho Universitário</h1>
    <p>Em busca de um bicho inteligente, que realmente te compreenda?</p>
    <%= link_to "Sign up", new_user_registration_path, class:"btn btn-success" %>
  </div>
</div>
