.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner #logo {
  position: relative;
  top: -27px;
}

.banner #logo .fa-graduation-cap {
  font-size: 45px;
  color: #ff00a1;
}

.banner #logo .fa-dog {
  font-size: 50px;
  color: #ff00a1;
}

.banner #logo #logo-dog {
  top: 38px;
  right: 14px
}





.banner #logo2 {
  position: relative;
  top: -25px;
}

.banner #logo2 .fa-graduation-cap {
  font-size: 60px;
  color: #ff00a1;
}

.banner #logo2 .fa-dog {
  font-size: 33px;
  color: #ff00a1;
}

.banner #logo2 #logo-dog2 {
  top: 52px;
  left: 15px
}
