.banner {
  background-size: cover;
  background-position: center;
  height: calc(100vh - 56px);
}

.banner .container {
  padding: 7% 5% 5% 15%;
}

.banner h1 {
  margin: 0;
  color: #F0F7EE;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner #logo .fa-graduation-cap {
  font-size: 30px;
  color: #0a0908;
}

.banner #logo .fa-paw {
  font-size: 80px;
  color: #F0F7EE;
}

.banner #logo #logo-cap {
  top: 40px;
  left: 22px;
}

// Link Dar uma olhada

#container-ver-bichos {
  width: 190px;
  height: 50px;
  position: relative;
  border-radius: 30px;
  border: 1px solid #F0F7EE;
}

#link-ver-bichos,
#cat-eyes {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
}

#link-ver-bichos {
  background-color: #F0F7EE;
  opacity: 1;
}

#link-ver-bichos:hover {
  opacity: 0;
}

#cat {
  font-size: 20px;
}

#p-ver-bichos{
  font-size: 17px;
  color: black;
  opacity: 1;
}

#cat-eyes {
  background-image: url(https://source.unsplash.com/_AHEpAdR8Xo);
  background-position: 52% 51%;
  background-size: 400px auto;
  opacity: 0;
}

#cat-eyes:hover {
  opacity: 1;
}
