a.link-bicho {
  text-decoration: none;
  color: inherit;
}

.card-bicho {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.card-bicho > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-bicho h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-bicho p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-bicho .card-bicho-infos {
  padding: 16px;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  // position: relative;
}

.card-bicho-infos .card-bicho-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-delete {
  bottom: 0
}
