.pet-small {
  font-size: 14px;
  color: rgb(210, 210, 210);
}

.pet-medium {
  font-size: 17px;
  color: rgb(210, 210, 210);
}

.pet-large {
  font-size: 20px;
  color: rgb(210, 210, 210);
}

.pet-active {
  color: rgb(80, 80, 80);
}

.fa-venus {
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
}

.fa-mars {
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
}
