<div class="container">
  <h1>Solicitar Adoção</h1>

  <div class="container mb-5">
    <div class="row justify-content-center align-items-center">
    <p>Parabéns <%= @adocao.user %>, você está prestes a fazer uma grande ação! Para prosseguir com a adoção,
    clique no botão "Requisitar Adoção" e aguarde um contato do guardião do(a) <%= @bicho.apelido %>. Neste contato, vocês deverão
    combinar os detalhes, como o local e a data para o acolhimento do animal.</p>
        <%= simple_form_for [@bicho, @adocao] do |f| %>
          <div class="form-inputs">
            <div class="row justify-content-center mx-3">
                <%= f.button :submit, "Requisitar Adoção", class: 'btn-success mb-3' %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
</div>
