<div class="container">
  <p>Sua requisição de adoção foi enviada com sucesso ao guardião.
  Basta aguardar o contato e ir buscar o bichinho! Em nome de todos os bichos universitários do Brasil,
  agradecemos a sua adoção e desejamos toda a felicidade do mundo a vocês! </p>
</div>
