<div class="container">
  <h1>Parabéns,<%= @adocao.user.nome %> você está prestes a fazer uma ótima ação! Você receberá um contato
  do guardião do animal, para definir os detalhes da adoção, como o dia e o local. </h1>
</div>
